  /* CSS code for mobile phones in landscape mode */
 
@media only screen and (min-width: 481px) and (max-width: 767px) {

  html {
    font-size: 16px; 
  }
  .navigation-items a{
    text-decoration: none;
    color: rgb(234, 237, 241);
  }
  #flex-cont{
    justify-content: space-between;
    text-align: center;
   }
   .flex-container {
    display: flex;
    position: fixed;
    top: 0;
    background-color: #2F4F4F;
    width: 100%;
    height: 6rem;
    padding: auto 0;
    text-align: center;
   }
   .navigation-items{
    display: flex;
    padding-right: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    }
   .navigation-items li {
    padding: 0.5em 0.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: auto 0;
   } 
   nav h2 a {
    text-decoration: none;
    color: rgb(252, 254, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
   }
   ul li a:hover {
    border-bottom: 0.1rem solid rgb(255, 255, 254);
    transition: width 2s;
   }
   #logo {
    font-size: 1.5em;
    font-family: 'Righteous', sans-serif;
    color: rgb(234, 237, 241);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
   }
  .home-contact-icons li{
    display: none; 
  }
  .home-contact-text {
    margin-top: 5.5rem;
  }
  .home-me-text-container {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1.6rem;
    font-family: 'Kalam', cursive;
   }
   .home-me-text-container h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem 0rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
   }
   .home-me-text-container p {
    text-align: center;
    padding-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 1rem;
    padding-right: 1rem;
   }
   .home-content-flex {
    display: flex;
    justify-content: space-between;
   }
   button{
    margin-top: auto;
    background-color: #2F4F4F;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
   }
   button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
   }
  .skills {
    margin-top: 1rem;
  }
  .fa-brands{
    font-size: 1.5rem;
  }
  .skills li {
    display: inline-block;
    margin-left: auto;
    margin-left: auto;
  }
    
ul.skills {
  padding: 20px;
  text-align: center;
}

ul.skills li {
  display: inline-block;
  list-style: none;
  margin: 2rem 1rem;
}

.fa-brands{
  font-size: 1.5rem;
}
.skills .category {
  color: black;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  display: block;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.skills p {
  font-size: 1rem;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #2F4F4F;
  padding-left: 2rem;
  color: rgb(229, 237, 244);
  padding: 0.3rem 0.5rem;
}
/*about me page content 
*/
.about-me-container{
  margin-top: 6rem;
}
.about-me-container p {
  text-align: right;
  padding-right: 1rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6rem;
  padding-bottom: 1rem;
 }
 .about-me-container h1 {
  text-align: right;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2rem 1rem;
 }
 figure figcaption{
  display: none;
}
.frank-image-home {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
  margin-right: 1rem;
  float: left;
}
.frank-image-about {
  width: 50%;
  height: 500px;
  object-fit: cover;
  object-position: top;
  margin-right: 1rem;
  float: left;
}
.skills .icon-name {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* contact info page */
.main-contact-text h1 {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem; 
  margin-bottom: 2rem;
}
.main-contact-text {
  margin-top: 10rem;
  text-align: center;
  padding: 2rem 1rem;
}
.main-contact-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}
.contact-icons li a {
  text-decoration: none;
}
.contact-icons li {
  display: inline-block;
  padding: 2rem;
}
.contact-icons a {
  color: #2F4F4F;
}
}