/* @import url("mobilelandscape.css"); */
/* @media only screen and (max-width: 480px) { */
html {
  font-size: 16px;
  color:#2D4909;
  }
  body{
    min-width: 350px;
  
  }
  a{
    text-decoration: none;
   
  }
 .wrapper{
  max-width: 1200px;
  margin-inline: auto;
 }
  .navbar {
    max-width: 1200px;
    margin-inline: auto;
    width: 100%;
    margin-top: 0rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color:#FFFFFF;
    position: fixed;
    height: 4rem;
  }
  .header-branding a{
    color:  #2D4909;
   padding-left: 1rem;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    /* background-color: #2D4909; */
  }
  .navlinks a{
    text-decoration: none;
    color:#2D4909;
    padding: 0 0.4rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
.navlinks{
  padding-right: 1rem;
}
 .home_image,
 .frank-image-home {
  background-image: url("./images_folder/background.webp");
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: top;
 
}

.home-me-text-container{
  display: grid;
  gap: 1rem;
  color: white;
  align-self: center;
  margin-top: 4rem;
  padding-right: 1rem;
}

 .home-content-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: #2D4909;
  line-height: 1.5;
  align-self: center;
  justify-self: center;
  padding-top: 1rem;
  
 }
 .home-me-text-container h1{
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
 }
 .home-me-text-container p{
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
 }
 .download{
  background-color:#FFFFFF;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
 }
 .download, 
 a{
  color:#2D4909;
 }
 .skills-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
 }

.icon-name{
  display: block;
  text-align: center;
  font-family: "Poppins", sans-serif;
 }
 .applications{
  text-align: center;
  padding: 2rem;
 }
.fa-brands{
  font-size: 3rem;
}
.foot_items{
  display: flex;
  background-color: #2D4909;
  padding: 2rem 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.footer-list-center li{
  color: white;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;

}
.home-contact-icons li{
  padding: 1rem;
}

.sub-head-skills{
  display: block;
  font-size: 2rem;
  margin-top: 4rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #2D4909;
  text-transform: uppercase;
}
#message{
font-size: 1.7rem;
}
#linkedin{
  font-size: 1.7rem;
}
#facebook{
  font-size: 1.7rem;
}
.home-contact-icons li a {
  color: #FFFFFF;
}
/* about me page Heading and text */
.about-me-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: #2D4909;
}
.about_text{
  grid-column: 1;
  grid-row: 1;
  color: white;
  align-self: center;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  padding-left: 1rem;
}
.frank-image-about {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  object-position: top;
  background-image: url("./images_folder/background.webp");
}
.about_text
>h3{
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}
figure figcaption{
  display: none;
}
 /* contact info mobile page  */
 .forms_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
 }
 .contact-container{
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  font-weight: 700;
  /* border: 0.2rem solid #2D4909; */
  padding: 3rem;
 }
 .contact-left{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 2rem;
  background-color:#2D4909;
  padding: 3rem 0rem;
  border-radius: 1rem;
  margin: 2rem 0rem;
 }
 .contact-input{
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  width: 15rem;
 }
 .contact-input:focus{
  background-color: #c9f09aa0;
 }

 .contact-submit{
  border: none;
  outline: none;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #2D4909;
  background-color:rgb(229, 237, 244) !important;
 }

.contact-banner-image{
  display: none;
}

@media screen and (max-width: 639px) {
.skills-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.icon-name{
  display: block;
  text-align: center;
  font-family: "Poppins", sans-serif;
 }
 .applications{
  text-align: center;
  padding: 2rem 0rem;
 }
 .skills-items li{
  margin: 2rem 0rem;
 }
.fa-brands{
  font-size: 3rem;
}
}
@media screen and (max-width: 652px) {
  .about-me-container{
    display: block;
    background-color: #2D4909;
  }
  .about_text{
   padding: 1rem;
   line-height: 1.5;
  }
  .frank-image-about {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: top;
    background-image: url("./images_folder/background.webp");
  }
}
/*  mobile device  */
@media screen and (max-width: 632px) {
  .home-content-grid{
   display: block;
    background-color: #2D4909;
    line-height: 1.5;
    align-self: center;
    justify-self: center;
    padding-top: 1rem;
    
   }
   .home-me-text-container{
    display: grid;
    gap: 1rem;
    color: white;
    align-self: center;
    margin-top: 2rem;
    padding-left: 1rem;
  }
}

/*  mobile device for contact */
@media screen and (max-width: 620px) {

.forms_grid{
  display: block;
 }
 .contact-container,
 h4{
  margin-top: 4rem;
  text-align: center;
 }
}